<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
    "-//Apache Software Foundation//DTD Struts Configuration 2.3//EN"
    "http://struts.apache.org/dtds/struts-2.3.dtd">
<web-app >
 		<!-- 定义过滤器 ，可以定义多个 -->
<filter>
	<filter-name>StrutsFilter</filter-name>
	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
</filter>

		<!-- 过滤器过滤能力定义，不同过滤器处理不同的url请求 -->
<filter-mapping>
	<filter-name>StrutsFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>

<welcome-file-list>
	<welcome-file>/WEB-INF/Index.action</welcome-file>
</welcome-file-list>
</web-app>
